// /* Define standard variables and values for website */
// $bgcolor: lightblue;
// $textcolor: darkblue;
// $fontsize: 18px;

// /* Use the variables */
// body {
//   background-color: $bgcolor;
//   color: $textcolor;
//   font-size: $fontsize;
// }

$text_height: 3em;
$text_width: 3em;
@import "node_modules/bootstrap/scss/bootstrap";

#linkedin_img { 
    
  height: $text_height; 
  width: $text_width;
}


p {
  ul {
      list-style-position: inside; 
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  ol {
      list-style-position: inside; 
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

}