#home_div{
    color: white;
    /* width: 90em;
	height: 20em;
	 */
	/* position: absolute; */
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;
}
.experience_list{
    padding-bottom: 1em;
}
#hello{
    margin-top: 3em;
    font-weight: bold;
}


#home { 
    background-image: url('img/home_back.jpg'); 
    background-repeat:no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif ;

}
#education { 
    background-image: url('img/education.jpg'); 
    background-repeat:no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif; 
    color:white;

}
#work { 
    background-image: url('img/work.jpg'); 
    background-repeat:no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif; 
    color: white;
}
#social_account { 
    background-image: url('img/socialmedia2.jpg');
     background-repeat:no-repeat;
     background-size: cover;
     font-family: 'Roboto', sans-serif ;
     color: white;
}

div {
    text-align:center; 
    clear: both;

}

#social { 
    text-align: center;
    padding: 2em;

}
/* #linkedin_img { 
    
    height: 3em; 
    width: 3em;

} */

.margin-up {
    margin-top: 2em;
}

@media screen and (min-width: 480px) {
    body {
   width: 100%;
   max-width: 100%;
    }
  }